<ActionBar title="Road Tracker"> </ActionBar>

<StackLayout>

    <SearchBar hint="Tapez votre itinéraire ..."
      [text]="search" (textChange)="onTextChanged($event)"
      (clear)="onClear($event)" (submit)="onSubmit($event)">
    </SearchBar>

<Label [text]="search" class="h2"></Label>

<ListView *ngIf="search" [items]="city" height="100%" >
    <ng-template let-item="item">
      <StackLayout>
        <Label [text]="item.city1"></Label>
        <Label [text]="item.city2"></Label>
        <Label [text]="item.city3"></Label>
        <Label [text]="item.city4"></Label>
        <Image [src]="'~/assets/'+item.image"></Image>
      </StackLayout>
    </ng-template>
</ListView>
</StackLayout>
